$transition_time: 300ms;
$App_sidebarBgColor: #898989;
$App_sidebar_titleColor:rgba(255, 255, 255, 0.8);
$App_sidebar_dividerColor:rgba(255, 255, 255, 0.15);
$App_content_bgColor: #F0F0F0;
$App_content_fontColor: #757575;
$App_content_fontColor_thin: #969696;
$App_content_dividerColor: #E4E4E4;
$App_content_button_active_bgColor: #898989;
$App_content_button_noActive_bgColor: #BDBDBD;
$App_content_button_fontColor: #F0F0F0;