$App_frame_transition_time: 170ms;
$App_frame_transition_delay_time: 100ms;
$App_sidebar_width: 14vw;
$App_mobile_sidebar_width: 30vw;
$App_mobile_xs_sidebar_width: 45vw;
$xl_lg: 2.3;
$xl_md: 2.7;
$xl_xs: 3.6;